.container{
    display:flex; 
    flex-wrap:wrap; 
    justify-content: flex-end;
} 
/*flex-direction:column-reverse;*
si que column, les met dans l'ordre*/

/*justify content*/

.carre{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 5px;
}

